.imageUpload {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageUpload__progress {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}

/* .imageUploader__button {
  padding: 8px 14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: black;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
} */
.imageUploader__button {
  cursor: pointer;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
}

/* .imageUpload > input {
  padding: 8px 14px;
  outline: none;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #8d9496;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
} */
/* .imageUpload__fileInput {
  padding: 5px 11px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #8d9496;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
} */
.imageUpload__fileInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
} */
/* .inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  padding: 5px;
  color: white;
  background-color: lightgray;
  display: block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
} */
