.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px lightslategrey;
}

@media (max-width: 500px) {
  .app__headerImage {
    width: 80px;
  }
  .app__headerAvatar {
    width: 25px !important;
    height: 25px !important;
  }
}

@media (max-width: 330px) {
  .app__headerImage {
    display: none;
  }
}
