.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin-bottom: 45px;
}
.post:hover {
  box-shadow: 3px 3px 3px 5px lightslategrey;
}
.post__commentBox {
  border-radius: 0px 0px 20px 20px;
}
.post__input {
  border-radius: 0px 0px 0px 20px;
}
.post__image {
  width: 100%;
  max-height: 320px;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post__text {
  font-weight: normal;
  padding: 20px;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}
.post__button:hover {
  color: white;
  border-radius: 0px 0px 20px 0px;
  cursor: pointer;
  background-color: lightskyblue;
}

@media (max-width: 550px) {
  .post__header {
    display: flex;
    align-items: center;
    padding: 7px;
  }
  .post__header > h3 {
    font-size: 12px;
  }
  .post__text {
    font-weight: normal;
    padding: 10px;
    font-size: 12px;
  }
  .post__comments {
    padding: 10px;
    font-size: 12px;
  }
  .post__commentBox > input {
    padding: 10px;
  }
  .post__image {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
}
